
<% include ./partials/header %>

<h2><%=foundPost.title%></h2>
<span><%=foundPost.created%></span>
<p><%-foundPost.body%></p>

<form action="/post/<%=foundPost._id%>?_method=DELETE" method="POST">
<button>Delete</button>
</form>

<form action="/post/<%=foundPost._id%>/edit" method="GET">
<button>Edit</button>
</form>

<a href="/post/<%=foundPost._id%>/comment/new">add comment</a>

<% foundPost.comments.forEach(function(comment){ %>
<p>
    <strong><%= comment.author.username %></strong>: <%=comment.text %>
   
</p>
    

<form action="/post/<%=foundPost._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
    <button>Delete comment</button>
</form>

<form action="/post/<%=foundPost._id%>/comment/<%=comment._id%>/edit" method="GET">
    <button>Edit comment</button>
</form>
<% }) %>




<% include ./partials/footer %>